@media screen and (max-width: 1399px) {
    .responsivo {
      width: 315px!important;
    }
  }
  @media screen and (max-width: 1199px) {
    .responsivo {
      width: 280px!important;
    }
  }
  @media screen and (max-width: 1199px) {
    .responsivo {
      width: 280px!important;
    }
  }
  @media screen and (max-width: 991px) {
    .responsivo {
      width: 200px!important;
    }
  }
